<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<p>This page is about {{title}}</p>
<p>{{title}} will be working on setting up images of {{title}} and user interactions with {{title}}</p>
<h3>Look! I can already use more variables of {{title}}. This text -->{{ItsLyingImNotHere}}<\-- is a variable! Cool! </h3>
